.app-button {
  box-shadow: 0 1px 1px 1px rgb(202, 194, 194);
  border: none;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  position: relative;
}

.disabled {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) !important;
}

.back-liner {
  background: linear-gradient(90deg, #3f67a4, #272847);
}

.hover-label {
  display: none;
  color: black;
  background-color: white;
  position: absolute;
  padding: 10px;
  top: -44px;
  right: 0;
  border: 1px solid rgb(187, 183, 183);
  white-space: nowrap;
  border-radius: 2px;
  z-index: 10;
}

.app-button:hover .hover-label {
  display: block;
}
